<div id="banner-container">
  <div class="row">
    <div class="col s5 offset-s1 banner valign-wrapper" id="pastries-banner">
      <div class="valign button-container">
        <h3>CAKES</h3>
        <a class="waves-effect waves-light btn" href="/pastries">Browse</a>
      </div>
    </div>
    <div class="col s5 banner valign-wrapper" id="delicacies-banner">
      <div class="valign button-container">
        <h3>DELICACIES</h3>
        <a class="waves-effect waves-light btn" href="/delicacies">Browse</a>
      </div>
    </div>
  </div>
</div>
