@import url('https://fonts.googleapis.com/css?family=Acme|Architects+Daughter|Courgette|Damion|Dancing+Script|Droid+Sans|Droid+Serif|Great+Vibes|Karla|Kaushan+Script|Lato|Lobster|Lobster+Two|Nunito|Oleo+Script|Open+Sans|PT+Sans|Pacifico|Pattaya|Permanent+Marker|Playball|Roboto|Roboto+Condensed|Sansita|Satisfy|Shadows+Into+Light|Shadows+Into+Light+Two|Shrikhand|Slabo+27px|Source+Sans+Pro|Yellowtail');
@import url('https://fonts.googleapis.com/css?family=Allan|Anton|Bad+Script|Coiny|Damion|Farsan|Fugaz+One|Grand+Hotel|Leckerli+One|Marck+Script|Niconne|Shrikhand');

    /*font-family: 'Sansita', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Slabo 27px', serif;

    font-family: 'Lato', sans-serif;
	
	font-family: 'Lobster', cursive;

    font-family: 'Source Sans Pro', sans-serif;

    font-family: 'Roboto Condensed', sans-serif;

    font-family: 'PT Sans', sans-serif;

    font-family: 'Droid Sans', sans-serif;

    font-family: 'Droid Serif', serif;

    font-family: 'Nunito', sans-serif;

    

    font-family: 'Anton', sans-serif;

    font-family: 'Bad Script', cursive;

    font-family: 'Damion', cursive;

    font-family: 'Shrikhand', cursive;

    font-family: 'Marck Script', cursive;

    font-family: 'Coiny', cursive;

    font-family: 'Fugaz One', cursive;

    font-family: 'Niconne', cursive;

    font-family: 'Leckerli One', cursive;

    font-family: 'Farsan', cursive;

    font-family: 'Grand Hotel', cursive;

    font-family: 'Allan', cursive;



    font-family: 'Pacifico', cursive;

    font-family: 'Karla', sans-serif;

    font-family: 'Shadows Into Light', cursive;

    font-family: 'Pattaya', sans-serif;

    font-family: 'Dancing Script', cursive;

    font-family: 'Acme', sans-serif;

    font-family: 'Lobster Two', cursive;

    font-family: 'Architects Daughter', cursive;

    font-family: 'Satisfy', cursive;

    font-family: 'Yellowtail', cursive;

    font-family: 'Kaushan Script', cursive;

    font-family: 'Courgette', cursive;

    font-family: 'Permanent Marker', cursive;

    font-family: 'Oleo Script', cursive;
    
font-family: 'Anton', sans-serif;
    
    font-family: 'Great Vibes', cursive;

    font-family: 'Arvo', serif;

    font-family: 'Playball', cursive;

    font-family: 'Shadows Into Light Two', cursive;

    font-family: 'Shrikhand', cursive;

    font-family: 'Damion', cursive;

*/